extends layout

block scripts
    script(src='https://apis.google.com/js/api.js')
    script(src='https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js')
    script(src='/js/index.js')

block content
    div#app
        div
            input#video-url(v-model='url' @keydown.enter='onEnter' name='url' placeholder='Enter video URL' ref='input')
            input.search(v-model='search' placeholder='search')
        .comments-container
            .top-comment(v-for='comment in filtered(comments)')
                span.author(v-html='comment.author')
                span.text(v-html='highlight(comment.text)') 
                .reply-comment(v-for='(reply, i) in filtered(comment.replies)') 
                    span.author(v-html='reply.author')
                    span.text(v-html='highlight(reply.text)')
                    hr(v-if='i !== comment.replies.length - 1')
                hr

