doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content
